
<div class="conteiner" id="home-conteiner">
    <div class="p-5 mb-4 bg-light rounded-3" id="jumbo">
      <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Alpha Blog Geas</h1>
        <p class="col-md-12 fs-4 text-white">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-success btn-lg" type="button">Example button</button>
      </div>
    </div>
</div>

